GEMINI_API_KEY=MY_GEMINI_API_KEY
BAZAAR_RSA_PUBLIC_KEY=YOUR_CAFE_BAZAAR_RSA_PUBLIC_KEY
TAPSELL_APP_KEY=YOUR_TAPSELL_PLUS_APP_KEY
TAPSELL_REWARDED_ZONE=YOUR_TAPSELL_REWARDED_ZONE
TAPSELL_STANDARD_BANNER_ZONE=YOUR_TAPSELL_STANDARD_BANNER_ZONE
